<html> <head> <title>new page 1</title> <style type="text/css">{  }
body         { font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; 
               font-family: Trebuchet MS, Verdana, Arial; color: black}
TD, P, LI {C; font-style:normal; font-variant:normal; font-weight:normal; font-size:10pt; font-family:Verdana, Arial }

h1           { font-size: 30pt; color: #FF0000; font-weight: bold }
h2           { font-size: 20pt; color: #FF0000; font-family: Verdana; font-weight: bold; 
               word-spacing: 0; margin-top: 0; margin-bottom: 0 }
h3           { font-size: 12pt; font-family: Verdana; color: #FF0000; background-repeat: 
               no-repeat; line-height: 100%; font-weight: bold; 
               background-position: left 50% }
H4 { font-size: 10pt; font-weight: bold; color: rgb(255,255,255); background-color: rgb(0,0,255); padding-left: 3px; padding-bottom: 1px }
h5           { font-size: 10pt; color: #000080; font-weight: bold }
H6 { font-style: normal; font-variant: normal; font-weight: bold; font-size: 10pt; 
               font-family: Trebuchet MS, Verdana, Arial; color: #E4DFAD }

.small-text {FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; #7A90C9}
.small-link {COLOR: #35356a; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; TEXT-DECORATION: none; color: #7A90C9;}
.diff-color {	COLOR: #fdb037; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; TEXT-DECORATION: none}

a:link       { color: #000000; text-decoration: none; }
a:visited    { color: #000000; text-decoration: none; }
a:active     { color: #000000; text-decoration: none; }
a:hover      { color: #154698; text-decoration: none; }
-->

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

</style>
</head>

<body leftmargin="0" bgcolor="#FFFAE1" >

<h1>Heading 1</h1>

<h2>Heading 2</h2>

<h3>Heading 3</h3>

<h4>Heading 4</h4>

<h5>Heading 5</h5>

<p>default color of body text 

<ul>
  <li>fasfasf</li>
  <li>fasdf</li>
</ul>

</body>
</html>